mlgame==10.4.6a2
box2d-py==2.3.8
pyinstaller==5.6
scikit-learn==1.4.0
matplotlib==3.8.3
pynput==1.7.6
pandas==1.4.1
pytmx==3.31
mushroom-rl==1.9.2
opencv-python==4.9.0.80
tensorflow==2.13.0
keras-transformer==0.40.0
scipy==1.13.1
